<p id="notice"><%= notice %></p>

<p>
	<td><br><br><strong> profile of  <%= @profile.first_name %> </strong><br><br><td>
</p>
<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>
<p>
<br><br><img src="/assets/nopic.png" alt="logo" style="width:304px;height:228px;"><br><br>
</p>
<p>
	<td><br><button type="button">followers</button><br></td>
</p>
<p>
	<%if current_account.id != @profile.account_id  %>
		<td><br><button type="button">follow/unfollow</button><br></td>
	<% end %>
</p>
<p>
	<td><br><br><strong>all links shared by  <%= @profile.first_name %> </strong><br><br><td>
</p>
<p>
	
 	<% @links_by_profile.each do |link| %>
      <div class="comments-list">
      	<a href="<%= link.url %>" target="_blank"><h5><%= link.title %></h5></a>
  		<p class="mt-10"><%= link.description %></p>
  		<p class="mt-10">Date Published: <%= link.created_at.to_formatted_s(:long_ordinal) %></p>
  		<p>
  		<%if current_account.id == @profile.account_id  %>
  			<%= button_to "edit", edit_link_path(link.id), method: :get, class: 'button' %>  <%= button_to "delete", link_path(link.id), method: :delete,  data: { confirm: 'Are you sure?' }, class: 'button' %>
		<% end %>	
  		</p>
  	  </div>
  	<% end %>

</p>
<br>
<%if current_account.id == @profile.account_id  %>
	<%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', links_path %>











