<%= form_for @link, :html => {class: 'col-md-8'} do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation" class="col-md-12 alert alert-danger">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-md-12">
    <%= f.label :url, "URL" %><br>
    <%= f.text_field :url ,class:"col-md-12" %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :title %><br>
    <%= f.text_field :title ,class:"col-md-12" %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label(:tags_text, "Tags") %><br>
    <%= f.text_field :tags_text, placeholder: "Type tags seperated by \",\"" ,class:"col-md-12" %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :description %><br>
    <%= f.text_area :description ,class:"col-md-12" %>
  </div>
  <div class="form-group col-md-12 ">
    <%= label_tag(:level, "Publish To") %><br>
    <%= f.select :level, [['Public',1],['Only Followers',2],['Only me',3]] %>
  </div>
  <div class="actions col-md-12 ">
    <%= f.submit class: 'btn btn-default' %>
    <input type="button" class='btn btn-default' style='float:right' value="Cancel" onclick="window.location.href='<%= authenticated_root_path %>'">
  </div>
<% end %>
