<div class="well well-sm">
  <a href="<%= link.url %>" target="_blank"><%= link.title %></a>
  <div class="tags">
    <% link.tags.each do |tag| %>
      <div class="tag">
        <%= tag.label %>
      </div>
    <% end %>
  </div>
  <div class="mt-10"><%= link.description %></div>
  <div class="text-muted">
    Published By
    <% if account_signed_in? %>
      <a href='/profiles/<%= link.account_id %>'><%= link.user.profile.first_name %></a>
    <% else %>
      <%= link.user.profile.first_name %>
    <% end %>
    @ <%= link.created_at.to_formatted_s(:long_ordinal) %>
  </div>
  <!-- Sum rating -->
  <% sum = 0 %>
  <% link.ratings.each do |rating| %>
    <% sum = sum + rating.value; %>
  <% end %>
  <%= sum %>
  <% if account_signed_in? %>
    <!-- rate only once function -->
    <% i = 0 %>
    <% current_account.ratings.each do |rate| %>
      <%if rate.link_id == link.id  %>
        <% i = i+1%>
        <% next %>
      <% end %>
    <% end %>
    <!-- rate 1 -->
    <% if i==0 %>
      <%= form_for Rating.new, html:{style: "display:inline-block;"} do |f| %>
        <div style="display:none">
          <input type="number" value="1" name="rating[value]" id="rating_value" />
          <input type="number" value="<%= link.id %>" name="rating[link_id]" id="rating_link_id" />
        </div>
        <input type="image" id = "RateUpImage" name="RateUp" src = "/assets/Up.png" style = "=height:20px; width:15px"/>
      <% end %>
    <% end %>
    <% if show_comment %>
    <input type="button" class="btn btn-default" value="COMMENTS (<%= link.comments.count %>)" onclick = "window.location='/links/<%= link.id %>'">
    <%end%>
    <input type="button" class="btn btn-default" value="REPORT LINK" onclick="window.location='/report/new/<%= link.id %>'">
    <% if link.user.id == current_account.id %>
      <input type="button" class="btn btn-default" value="EDIT" onclick="window.location='/links/<%= link.id %>/edit'">
      <button class="btn btn-default" data-toggle="modal" data-target="#confirm-delete-<%= link.id %>">
          DELETE
      </button>
      <script>
        $(document).ready(function(){
          $('#confirm-delete-<%= link.id %>').on('click', '.btn-ok', function(e) {
            var $modalDiv = $(e.delegateTarget);
            $modalDiv.addClass('loading');
            $.ajax({
              url: '/links/<%= link.id %>',
              type: 'DELETE',
              success: function(r){
                $modalDiv.modal('hide').removeClass('loading');
              },
              complete: function(){
                  $('#confirm-delete-<%= link.id %>').hide();
                  location.reload();
              }
            })
          });
          $('#confirm-delete-<%= link.id %>').on('show.bs.modal', function(e) {
              $('.modal-header').html('Confirm delete?');
              $('.modal-body').html('Please confirm you want to delete <strong><%= link.title %></strong>');
          });
          console.log("event registered.")
        });
      </script>
    <% end %>
  <% end %> <!-- end of if signed_in -->
</div>
<div class="modal fade" id="confirm-delete-<%= link.id %>" tabindex="-1" role="dialog" aria-labelledby="ConfirmModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Confirm</a>
            </div>
        </div>
    </div>
</div>
