<% if @links.count == 0 %>
<p>
  No data!
</p>
<% else %>
  <% @links.each do |link| %>
      <div class="comments-list">
      	<a href="<%= link.url %>" target="_blank"><h5><%= link.title %></h5></a>
        <div class="tags">
          <% link.tags.each do |tag| %>
            <div class="tag">
              <%= tag.label %>
            </div>
          <% end %>
        </div>
    		<p class="mt-10"><%= link.description %></p>
    		<p class="mt-10">Date Published: <%= link.created_at.to_formatted_s(:long_ordinal) %></p>
        <!-- Sum rating -->
    		<% sum = 0 %>
    		<% link.ratings.each do |rating| %>
    			<% sum = sum + rating.value; %>
    		<% end %>
    		<%= sum %>
    		<% if account_signed_in? %>
          <!-- rate only once function -->
    			<% i = 0 %>
    			<% current_account.ratings.each do |rate| %>
    			  <%if rate.link_id == link.id  %>
    			  	<% i = i+1%>
    			  	<% next %>
    			  <% end %>
    			<% end %>
          <!-- rate 1 -->
          <% if i==0 %>
    				<%= form_for(Rating.new) do |f| %>
    					<div style="display:none">
    						<input type="number" value="1" name="rating[value]" id="rating_value" />
    						<input type="number" value="<%= link.id %>" name="rating[link_id]" id="rating_link_id" />
    					</div>
    					<input class="button mt-10" type="image" id = "RateUpImage" name="RateUp" src = "/assets/Up.png" style = "=height:20px; width:15px"/>
    				<% end %>
    			<% end %>
          <!-- <input type="button" class="button mt-10" value="COMMENT" --> 
          <%= button_to 'Comment', new_comment_path, :class => "button mt-10" %>
          <input type="button" class="button mt-10" value="PUBLISHER" onclick="window.location='/profiles/<%= link.account_id %>'">
          <input type="button" class="button mt-10" value="REPORT LINK" onclick="window.location='/report/<%= link.id %>'">
  		  <% end %> <!-- end of if signed_in -->
	   </div>
  <% end %> <!-- end of @links.each do |link|  -->
  <!-- Pages -->
  <% for i in 1..(@pages) do %>
    <div class='page_count_<% if i == @page %>active<% else %>normal<% end %>'>
      <%= link_to i.to_s, "?p=" + i.to_s %>
    </div>
  <% end %>
  <!-- hard code stypes for links rating up/down buttons -->
  <style type="text/css">
  	form {
  		display: inline;
  	}
  </style>
<% end %>
