<p id="notice"><%= notice %></p>

      <div class="well well-sm">
      	<a href="<%= @link.url %>"><h5><%= @link.title %></h5></a>
        <div class="tags">
          <% @link.tags.each do |tag| %>
            <div class="tag">
              <%= tag.label %>
            </div>
          <% end %>
      </br>
        </div>
    	<p class="mt-10"><%= @link.description %></p>
    	<p class="mt-10">Date Published: <%= @link.created_at.to_formatted_s(:long_ordinal) %></p>
    	</div>
		<%= button_to 'Add Comment', new_comment_path, :class => "button mt-10"%>
    	<% @link.comments.each do |comment| %>
          <div class="comments">
              <%= comment.id %>
              </br>
              <%= comment.comment %></br>
              <% if Account.find(comment.account_id).profile_id %>
                said by <%= Profile.find(Account.find(comment.account_id).profile_id).first_name %> at <%= comment.created_at %></br>
              <% end %>
          </br>
          </div>
        <% end %>

  		<!-- end of if signed_in -->
