<p id="notice"><%= notice %></p>

      <div class="well well-sm">
      	<a href="<%= @link.url %>"><h5><%= @link.title %></h5></a>
        <div class="tags">
          <% @link.tags.each do |tag| %>
            <div class="tag">
              <%= tag.label %>
            </div>
          <% end %>
      </br>
        </div>
    	<p class="mt-10"><%= @link.description %></p>
    	<p class="mt-10">Date Published: <%= @link.created_at.to_formatted_s(:long_ordinal) %></p>
      </div>

      	
      	<div class="panel panel-default">
      		<% @link.comments.each do |comment| %>
            <div class="panel-heading">
    			<h3 class="panel-title">said by <strong style = "font-size: 20px"><%= Profile.where("account_id=?", comment.account_id).take().first_name %></strong> at <%= comment.created_at %></h3>
    			<% if current_account.id == comment.account_id %>
  					<input type="button" class="btn btn-default" value="Edit" onclick="window.location='/comments/<%= comment.id %>/edit'" style = "float:right; margin-top: -28px">
    				<%= button_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default", :style => "float:right; margin-top: -28px" %>
    			<% end %>
  			</div>
  			<div class="panel-body">
    			<%= comment.comment %>
  			</div>
  			
  			
  			<% end %>
		</div>
		
		<%= form_for(Comment.new) do |f| %>
  			<div class="input-group input-group-lg">
    			<%= f.label :comment %><br>
    			<%= f.text_area :comment, :style =>"width: 600px" %>
    			<input  style = "display:none" type="number" value="<%= @link.id %>" name="comment[link_id]" id="comment_link_id" />
    			<input  style = "display:none" type="number" value="<%= current_account.id %>" name="comment[account_id]" id="comment_account_id" />
			</div>
  			<div class="actions">
    			<%= f.submit %>
  			</div>
		<% end %>

		<br>
		<br>
		<br>
		<br>
		<br>
		<center><%= link_to 'Back to the Home page', links_path, :class => "btn btn-default", :style => "color: red" %></center>
		<br>
		<br>