<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @account.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<p>
  <strong>Level:</strong>
  <%= @account.level %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
